server:
  port: 8082

spring:
  application:
    name: auth-service

  mongodb:
    uri: mongodb://127.0.0.1:27017/flow_ops


logging:
  level:
    root: info
    org.springframework.security: debug

management:
  endpoints:
    web:
      exposure:
        include: health, info, beans, info, metrics, mappings, prometheus, threaddump