server:
  port: 8082

spring:
  application:
    name: auth-service

  mongodb:
    uri: ${SPRING_DATA_MONGODB_URI}

logging:
  level:
    root: info
    org.springframework.security: debug

management:
  endpoints:
    web:
      exposure:
        include: health, info, beans, info, metrics, mappings, prometheus, threaddump
