services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=flow_ops
    volumes:
      - mongodb-data:/data/db
    networks:
      - flowops-net
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka
    networks:
      - flowops-net
    ports:
      - "9094:9094" # External port for your laptop
    environment:
      # Cluster Setup
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      # Since you are using KRaft mode, Kafka needs to manage its own cluster metadata (voting on who is the leader, etc.).
      # It uses this private port to handle the "brain" work of the cluster.
      # Kafka talking to itself connect Kafka to itself (Kafka Internals)
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

      # Listener Logic:
      # 1. PLAINTEXT (9092) : for n/w connection like kafka UI to connect to kafka
      # 2. EXTERNAL (9094) : for external connection like my spring boot app
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG4J_LOGGERS: "kafka=INFO,kafka.network=INFO,kafka.cluster=INFO,org.apache.kafka=INFO"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    networks:
      - flowops-net
    ports:
      - "8080:8080" #Port for UI access
    environment:
      - KAFKA_CLUSTERS_0_NAME=local-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092 # Uses the container name on the shared network
      - DYNAMIC_CONFIG_ENABLED=true
    depends_on:
      - kafka

  #  Prometheus and grafana related configuration
  # prometheus:
  #   image: prom/prometheus:v3.9.1
  #   container_name: prometheus
  #   volumes:
  #     - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   ports:
  #     - "9090:9090" # access localhost:9090 for promethesu
  #   networks:
  #     - flowops-net

  # grafana:
  #   image: grafana/grafana:12.3.1
  #   container_name: grafana
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ./docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
  #     - ./docker/grafana/dashboards:/etc/grafana/provisioning/dashboards
  #     - ./docker/grafana/dashboards:/var/lib/grafana/dashboards
  #   environment:
  #     - GF_SECURITY_ADMIN_PASSWORD=admin
  #     # Bypass the drilldown plugin bug:
  #     - GF_FEATURE_TOGGLES_ENABLE=pluginsSriChecks:false
  #   depends_on:
  #     - prometheus
  #   networks:
  #     - flowops-net

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/flow_ops
      - SERVER_PORT=8082
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - flowops-net
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8082/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  release-service:
    build:
      context: ./release-service
      dockerfile: Dockerfile
    container_name: release-service
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/flow_ops
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - APP_EVENTS_TOPIC=test_topic
    depends_on:
      mongodb:
        condition: service_healthy
      kafka:
        condition: service_started
    networks:
      - flowops-net
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8081/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "8083:8083"
    environment:
      - SERVER_PORT=8083
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/flow_ops
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - APP_EVENTS_TOPIC=test_topic
    depends_on:
      mongodb:
        condition: service_healthy
      kafka:
        condition: service_started
    networks:
      - flowops-net
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8083/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "8085:8085"
    environment:
      - SERVER_PORT=8085
      - RELEASE_SERVICE_URL=http://release-service:8081
      - AUTH_SERVICE_URL=http://auth-service:8082
      - NOTIFICATION_SERVICE_URL=http://notification-service:8083
    depends_on:
      - auth-service
      - release-service
      - notification-service
    networks:
      - flowops-net
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8085/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  flowops-net:
    driver: bridge

volumes:
  mongodb-data:
