server:
  port: 8085

spring:
  application:
    name: FlowOps-API Gateway

  # API versioning at gateway level - /api/v1/* routes strip prefix before forwarding
  # For ex: http://localhost:8085/api/v1/releases/123 -> http://release-service:8081/releases/123

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: release-service
              uri: ${RELEASE_SERVICE_URL:http://localhost:8081}
              predicates:
                - Path=/api/v1/releases/**
              filters:
                - StripPrefix=2

            - id: auth-service
              uri: ${AUTH_SERVICE_URL:http://localhost:8082}
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=2

            - id: notification-service
              uri: ${NOTIFICATION_SERVICE_URL:http://localhost:8083}
              predicates:
                - Path=/api/v1/notifications/**
              filters:
                - StripPrefix=2

            - id: chatbot-service
              uri: ${CHATBOT_SERVICE_URL:http://localhost:8084}
              predicates:
                - Path=/api/v1/chat/**
              filters:
                - StripPrefix=2

            - id: discussion-service
              uri: ${DISCUSSION_SERVICE_URL:http://localhost:8086}
              predicates:
                - Path=/api/v1/discussions/**
              filters:
                - StripPrefix=2
opsflow:
  JWT_SECRET: ${JWT_SECRET:PASS_YOUR_SECRET_KEY_HERE}

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health,info, metrics
  metrics:
    tags:
      application: api-gateway
